@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@200&family=Roboto:wght@300&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Poppins:wght@200;300&family=Roboto:wght@300&family=Work+Sans:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Mulish', sans-serif; */
font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
}

:root {
  --topBack: #e40046;
  --navColor: #d8d8d8d8;
  --btnBack: #333;
  --navBack: rgb(232, 10, 10);
}
